#footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  background-color: #f5f5f5;
  color: #c5c6c7;
  font-size: small;
  z-index: 1;
}

/* Spacing icons in footer */
.bi-telephone,
.bi-envelope {
  margin-right: 5px;
}

.bi-envelope,
.bi-file-arrow-down {
  margin-left: 5px;
}
